/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-fg-clr: #1b1b1b;
  --light-fg-clr: #bebaba;
  --second-fg-clr: #333;
  --main-bg-clr: #fff;
  --btn-clr: #00bcd4;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.main-text {
  width: 50%;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 25px;
}

.btn {
  color: #fff;
  background-color: var(--btn-clr);
  border: transparent;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* global rules */
.body {
  color: var(--main-fg-clr);
}

.hero {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.main-pic {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 550px;
}

.main-pic img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu-toggle {
  position: fixed;
  background: var(--main-fg-clr) url(../img/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  z-index: 999;
  cursor: pointer;
}

.menu-toggle.active {
  background: var(--main-fg-clr) url(../img/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text,
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 550px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
}

.hero-text p:first-of-type {
  margin: 0;
  font-size: 22px;
}

.hero-text span {
  color: var(--btn-clr);
  font-size: 23px;
  font-weight: 900;
}

.hero-text h3 {
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 0 10px;
}

.hero-text p {
  padding-right: 35px;
  line-height: 1.8;
  margin: 25px 0;
}

.hero-text a {
  width: 120px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hero-text a:hover {
  opacity: 0.8;
}

.social-icons {
  position: relative;
  bottom: 15px;
  left: 0;
  margin: 25px 0;
}

.social-icons i {
  font-size: 24px;
  margin: 15px 5px;
  color: var(--main-fg-clr);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.social-icons i:hover {
  color: #000;
}

.sidebar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -100%;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  padding: 40px;
  background-color: var(--main-fg-clr);
  z-index: 100;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar ul li {
  margin: 10px;
  list-style-type: none;
}

.sidebar ul li a {
  color: var(--light-fg-clr);
  font-size: 24px;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 10px 0;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  color: var(--btn-clr);
}

/* start about us section */
.about-us {
  background-color: var(--main-fg-clr);
  color: #fff;
}

.about-us h2 {
  position: relative;
  margin-bottom: 20px;
}

/*.special-heading-dark*/
.special-heading-light:after {
  content: "";
  position: absolute;
  display: block;
  top: 40px;
  left: 45%;
  width: 45px;
  text-align: center;
  border-bottom: 5px solid var(--main-fg-clr);
}

.about-us p {
  color: var(--light-fg-clr);
  line-height: 1.6;
}
.about-us p:first-of-type {
  margin-top: 20px;
}

.about-us p:nth-of-type(2) {
  margin-top: 60px;
}
/* end about us section */

/* start services section */
.our-services h2 {
  color: var(--btn-clr);
  position: relative;
}

.special-heading-dark:after {
  content: "";
  position: absolute;
  display: block;
  top: 40px;
  left: 45%;
  width: 45px;
  text-align: center;
  border-bottom: 5px solid #fff;
}
/*
.our-services h2:before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 45%;
  height: 4px;
  width: 10%;
  background-color: var(--main-fg-clr);
  z-index: 99;
}*/

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.card {
  background-color: #f8f8f8;
  padding: 25px;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  height: 0;
  width: 5px;
  background-color: var(--btn-clr);
  transition: 1s ease-in-out;
}

.card:before {
  left: 0;
  top: 0;
}
.card:after {
  right: 0;
  bottom: 0;
}
.card:hover {
  color: var(--light-fg-clr);
  background-color: var(--main-fg-clr);
}
.card:hover h3 {
  color: var(--btn-clr);
}

.card:hover:before {
  height: 100%;
}

.card:hover:after {
  height: 100%;
}

.card img {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 80px;
}

.card:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.card h3 {
  text-transform: capitalize;
  margin: 10px 0 25px;
}

/* end services section */

/* start recent works section */

.recent-works .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 25px;
}

.recent-works h2 {
  position: relative;
  color: var(--btn-clr);
}

.recent-works .product-box {
  position: relative;
  cursor: pointer;
  display: flex;
  border-radius: 5px;
  min-height: 250px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.recent-works .product-box .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.product-box i {
  font-size: 72px;
  color: var(--btn-clr);
}

.recent-works .product-box a {
  width: fit-content;
  display: block;
  padding: 10px 15px;
  border-radius: 15px;
  border: 3px solid vaR(--btn-clr);
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
}

.recent-works .product-box a:hover {
  background-color: var(--btn-clr);
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.recent-works .product-box:hover .overlay {
  opacity: 1;
}

/* end recent works section */

/* start contact us section*/

.contact-us {
  background-color: var(--main-fg-clr);
  color: var(--light-fg-clr);
}

.contact-us h2 {
  color: #fff;
  position: relative;
}

textarea {
  width: 96%;
}

input {
  width: 47%;
}

input,
textarea {
  background-color: #131313;
  border: transparent;
  padding: 5px 10px;
  margin: 5px;
  outline: none;
  text-transform: capitalize;
  color: #fff;
}

.contact-us button {
  display: block;
  max-width: 180px;
  margin: auto;
  border-radius: 3px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact-us button:hover {
  opacity: 0.8;
}
/* end contact us section */

/* start footer */

footer {
  background-color: #0f0f0f;
}

footer p {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
  color: var(--light-fg-clr);
}
/* scroll to top button */
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  display: none;
}

.show-scroll {
  display: block;
}
.scroll-to-top i {
  font-size: 38px;
  color: var(--btn-clr);
  opacity: 0.7;
}

.scroll-to-top:hover i {
  opacity: 1;
}

/* responsive */

@media (max-width: 991px) {
  .main-text {
    width: 80%;
  }
  .main-pic {
    display: none;
  }

  .hero-text,
  .sidebar {
    width: 100%;
    padding: 25px;
  }

  .social-icons {
    bottom: 0px;
    left: 10px;
    margin: 0;
  }
  .about-us img {
    margin-top: 25px;
  }
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  input {
    width: 96%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .hero-text {
    padding: 25px;
  }
}

@media (max-width: 567px) {
  h1 {
    font-size: 36px;
  }
}

/* ========= end =========== */
